*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*color: var(--light-grey);*/
  color: white;
}

:root {
  --dark-blue-1: #161c2d;
  --dark-blue-2: #1c2739;
  --dark-blue-3: #243647;
  --light-grey: #ced0d6;
  --header-color: #b2ac98;
  --background-color: var(--dark-blue-2);
  --app-background-color: var(--dark-blue-1);
  --light-color: var(--light-grey);
  --accent-color: #314465;

  /* font sizes */
  --root-font-size: 16px;
  font-size: var(--root-font-size);

   /*font-families*/
  --font-headline: 'Times New Roman', serif;
  --font-family: 'Helvetica', sans-serif;

  font-family: var(--font-family);
}

h1, h2, h3 {
  color: var(--header-color);
  font-family: var(--font-headline);
}

nav {
  /*padding: 3px;*/
  margin-bottom: 3px;
  border-bottom: solid var(--header-color) 2px;
  overflow: hidden;
  background-color: var(--dark-blue-1);
}

nav a {
  float: left;
  color: var(--header-color);
  font-size: 1.5rem;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: var(--header-color);
  color: var(--dark-blue-1);
}

nav a:first-of-type {
  background-color: var(--header-color);
  color: var(--dark-blue-1);
}

nav a:first-of-type:hover {
  color: var(--header-color);
  background-color: var(--dark-blue-1);
}

/* BODY */
body {
  background-color: var(--background-color);
}

main {
  text-align: center;
  margin: auto;
  padding: 20px;
  width: 60%;
  overflow: hidden;
}

.dropdown {
  cursor: pointer;
  user-select: none;
}

.triangle-dropdown {
  font-size: medium;
  color: var(--header-color);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.card {
  background-color: var(--accent-color);
  padding: 1.3rem;
  margin: 1.2rem;
  /*width: 300px;*/
  line-height: 1.5rem;
  border-radius: 15px;
}

.card h2 {
  margin-bottom: 2px;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}
