*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*color: var(--light-grey);*/
  color: white;
}

:root {
  --dark-blue-1: #161c2d;
  --dark-blue-2: #1c2739;
  --dark-blue-3: #243647;
  --light-grey: #ced0d6;
  --header-color: #b2ac98;
  --background-color: var(--dark-blue-2);
  --app-background-color: var(--dark-blue-1);
  --light-color: var(--light-grey);
  --accent-color: #314465;

  /* font sizes */
  --root-font-size: 16px;
  font-size: var(--root-font-size);

   /*font-families*/
  --font-headline: 'Times New Roman', serif;
  --font-family: 'Helvetica', sans-serif;

  font-family: var(--font-family);
}

h1, h2, h3 {
  color: var(--header-color);
  font-family: var(--font-headline);
}

nav {
  /*padding: 3px;*/
  margin-bottom: 3px;
  border-bottom: solid var(--header-color) 2px;
  overflow: hidden;
  background-color: var(--dark-blue-1);
}



nav a {
  float: left;
  color: var(--header-color);
  font-size: 1.5rem;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: var(--header-color);
  color: var(--dark-blue-1);
}

nav a:first-of-type {
  background-color: var(--header-color);
  color: var(--dark-blue-1);
}

nav a:first-of-type:hover {
  color: var(--header-color);
  background-color: var(--dark-blue-1);
}

/* BODY */
body {
  background-color: var(--background-color);
}

main {
  text-align: center;
  padding: 10px;
}

#recent-projects {
  background-color: var(--app-background-color);
  width: 60%;
  margin: 1rem auto;
  border-radius: 30px;
  padding: 10px;
}

.title {
  padding: 0.5rem;
  margin: 1.3rem 0;
}

/* SELECT BOXES */

.filter-bg {
  border-radius: 20px;
  background-color: var(--dark-blue-2);
  max-width: 750px;
  margin: 20px auto;
  padding: 8px;
}

#filter-dropdown {
  cursor: pointer;
  user-select: none;
}

#triangle {
  font-size: medium;
  color: var(--header-color);
}

.filters {
  display: flex; /* Changes to Flex */
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  /*border: 1px solid var(--header-color); !*comment out*!*/
  gap: 20px 50px;

  margin-top: 10px;
}
.filter {
  width: 100%;
  /*min-width: 15ch;*/
  /*max-width: 30ch;*/
  border: 1px solid var(--header-color);
  border-radius: 0.25em;
  padding: 4px 10px;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: var(--dark-blue-1);
  /*background-image: linear-gradient(to top, #f9f9f9, var(--accent-color) 33%);*/
}

select {
  /*A reset of css, including removing the default dropdown arrow*/
  appearance: none;
  /*Additional resets for further consistency*/
  color: var(--header-color);
  /*background-color: var(--background-color);*/
  background-color: transparent;
  border: none;
  /*padding: 2px 5px;*/
  width: 100%;
  border-radius: 0.25em;

  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

select option[value="0"] {
  display: none;
}

.filter select option {
  background-color: var(--dark-blue-2);
}

/*!* Project Cards *!*/
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.project-card {
  background-color: var(--accent-color);
  padding: 1.3rem;
  margin: 1.2rem;
  /*width: 300px;*/
  line-height: 1.5rem;
  border-radius: 15px;
}

.project-card h2 {
  margin-bottom: 2px;
}


a {
  text-decoration: none;
}

.hidden {
  display: none;
}
