/*body {*/
/*  font-family: 'Arial', sans-serif;*/
/*  line-height: 1.6;*/
/*}*/

/*center the content */
main {
  width: 80%;
  margin: auto;
  overflow: hidden;
  padding: 20px;
}

/*!* Header styling *!*/
header {
  background-color: var(--app-background-color);
  padding: 20px;
  text-align: center;
}

/*!* Header image and name styling *!*/
.headshot {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
  margin: 20px auto;
}

header h1 {
  margin-bottom: 10px;
}

/*!* Contact information styling *!*/
#contactInfo {
  font-size: 1.3em;
  margin-bottom: 20px;
  color: var(--light-color);
  padding: 15px;
}


/*!* Section styling for employment, education, and skills *!*/
section {
  background: var(--app-background-color);
  margin: 20px 0;
  padding: 15px;
  border-radius: 8px;
  /*box-shadow: 0 2px 4px rgba(0,0,0,0.1);*/
}

section h2 {
  text-align: center;
  margin-bottom: 10px;
}

/*!* Timeline styling *!*/
.entry {
  margin-bottom: 5px;
}

.entry-header {
  padding: 10px;
  margin-left: -3px;
}
/*!* Skills Section styling *!*/
#skills {
  background-color: transparent;
}

#skills-h2 {
  text-align: center;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}

.skill-entry {
  background-color: var(--accent-color);
  padding: 1.3rem;
  margin: 1.2rem;
  width: 300px;
  line-height: 1.5rem;
  border-radius: 15px;
}

.skill-entry-header {

}


/*!* Need To Evaluate *!*/

/*!* Visual cue for clickable items *!*/
.entry .entry-header:after {
  content: ' (click to expand)';
  font-size: 0.8em;
  color: var(--app-background-color);
}

.entry.active .entry-header:after {
  content: ' (click to collapse)';
  font-size: 0.8em;
  color: var(--app-background-color);
}