/*!* Header styling *!*/
header {
  background-color: var(--app-background-color);
  padding: 20px;
  text-align: center;
}

/*!* Header image and name styling *!*/
.headshot {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
  margin: 20px auto;
}

header h1 {
  margin-bottom: 10px;
}

/*!* Contact information styling *!*/
#contactInfo {
  font-size: 1.3em;
  margin-bottom: 20px;
  color: var(--light-color);
  padding: 15px;
}

/*!* Section styling for employment, education, and skills *!*/
section {
  background: var(--app-background-color);
  margin: 20px 0;
  padding: 15px;
  border-radius: 8px;
}

section h2 {
  text-align: center;
  margin-bottom: 10px;
}

/*!* Timeline styling *!*/
.entry {
  margin-bottom: 5px;
}

.entry-header {
  padding: 10px;
  margin-left: -3px;
}
/*!* Skills Section styling *!*/
#skills-h2 {
  text-align: center;
}
.category-section {
  background-color: var(--dark-blue-2);
}
